html {
    overflow: hidden;
}

body {
    width: 400px;
    height: auto;
    background: var(--background-color);
    --background-color: #EEEEEE;
    --border-radius: 5px;
    --input-bg: #DDDDDD;
    --border-color: #AAAAAA;
    --warn-color: #DDDD22;
    --font-color: #000000;
    --white-icon: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--background-color);
        --background-color: #111111;
        --input-bg: #222222;
        --border-color: #444444;
        --warn-color: #999933;
        --font-color: #FFFFFF;
        --white-icon: 1;
    }
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    transition-duration: 50ms;
    color: var(--font-color);
    font-size: 18px;
}

#warning {
    border-radius: var(--border-radius);
}

#warning:not([open]), #dialog:not([open]) {
    max-height: 0px;
    margin: 0;
    overflow: auto;
    background: none;
}

#warning[open] {
    display: flex;
    margin: 15px 5px;
    align-items: center;
    gap: 5px;
    background: var(--warn-color);
}

#warning img.icon {
    margin: 5px;
}

#warning #details {
    word-wrap: anywhere;
}

body[dialog_open] {
    height: 235px;
}

#dialog[open] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    border: var(--border-color) solid 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-sizing: border-box;
    gap: 10px;
}

#dialog[open][dialog_type="confirm"] #dialog-input {
    display: none;
}

#dialog .control-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#dialog .control-container button {
    flex-grow: 1;
    padding: 8px;
}

#dialog #dialog-input {
    width: 100%;
    padding: 8px 4px;
}

#dialog #dialog-title {
    font-size: 24px;
}

#dialog #dialog-description {
    overflow-y: auto;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#ext-info {
    display: flex;
    justify-content: space-between;
}

#controls button {
    aspect-ratio: 1;
}

input {
    height: 25px;
}

input, button {
    border-radius: var(--border-radius);
    background: var(--input-bg);
    border: var(--border-color) 2px solid;
}

input:hover, button:hover {
    background: var(--border-color);
}

img.icon {
    height: 24px;
    filter: invert(var(--white-icon));
}

body:not([linux]) .linux-only {
    display: none;
}

body:not([windows]) .windows-only {
    display: none;
}
